* {
    margin: 0;
    padding: 0;
}
body {
    padding: 1rem;
}
fieldset {
    padding: 1rem;
    background-image: url('../img/docker.png');
    background-size: cover;
    background-repeat: no-repeat;
}
legend {
    font-size: 2rem;
    font-weight: 900;
    color: magenta;
}
.require::before {
    content: '*';
    color: #ff0000;
}
input:focus, textarea:focus {
    outline: none;
    border: 3px solid #ff0000;
}
input[name="radio"]:checked + label {
    color: #ff0000;
} /*체크된 상태에서 라벨에 효과를 주겠다*/
input, textarea {
    background-color: transparent; /*background: none;*/
} /*새로 알게된 것*/
label[for="req"] {
    vertical-align: top;
} /*새로 알게된 것*/ /*현업 많이 사용x*/
.chk-content {
    background-color: #000;
    color: #fff;
    display: none;
}
button:hover + .chk-content {
    display: inline;
} /*버튼에 호버했을때 인접형제 체크콘텐트를 인라인으로 보이게 하겠다*/