/* 중요도,적용범위 */
/* 중요도
    1. 사용자스타일 ; 윈도우즈가 제공하는 다크모드, 브라우저에서 제공하는 확장프로그램등 
    2. 제작자 스타일 : 우리가만드는거
    3. 브라우저가 기본적으로 주는 스타일*/

/* 적용범위 : 제작자스타일의 우선순위
    1. !important : 속성값 옆에 !important를 주면 1순위로 적용됨(현업에서는 절대쓰면x)(최후의보루)
    2. 인라인 스타일 : 태그에 직접적으로사용 (되도록이면 사용지양)
    3. id스타일 : 최우선적으로 적용됨. (현업)
    4. 클래스스타일 : .class 클래스선택자를 제일 많이씀
    5. 타입스타일 : 태그명으로 부여하는 스타일
    6. 제일마지막에 기재된 스타일이 적용됨
    7. 상속스타일 */
#id-test {
    color: blueviolet;
}
    /* .class-test {
    color: aqua;
} */
.div-test {
    color: red;
}
h1 {
    color: red !important;
    }
h1 {
    color: green;
}

h2 {
    color: beige;
}
