/* 연결 선택자(combination selector)
    ㄴ>공백, >, +, ~등 결합자(combinator)를 이용해 특정 요소를 선택  */

/* 후손결합자 : 공백 결합자를 이용해서 선택 */
/* 자손은 내 바로 밑에 지만 후손은 내 밑에 모든애들(손자,증손자 등등까지) */
/* 클래스,아이디선택자도 지정 가능 */
header div span {
    color: blue;
}

/* 자식 결합자 : '>' 결합자를 이용해서 자식요소를 선택 */
/* 나의 직속 자식만 결합 */
header > span {
    color: coral;
}


/* 인접 형제 결합자 : 플러스(+) 결합자를 이용해서 첫번째 형제를 선택 */
/* 내 바로 아래에 있는 형제 : 인접형제 */
header + span {
    color: blueviolet;
}

/* 일반 형제 결합자 : '~' 결합자를 이용해서 선택 */
/* 나와 형제관계에 있는 모든 형제를 선택 */
header ~ span {
    color: brown;
}

