/* 가상요소 : PseudoElemant */
/* 프론트엔드에서는 가사요소를 적극적으로 활용하진 않음 */
/* 유저들이 직접 보고 느끼는 곳이기 때문에 빠르게 변화됨. 소스코드의 수명이 짧음 */
/* 빨리만들고 빨리 치우는 소스코드가 많음. (짜임새 있는 소스코드를 보기 쉽지않음) */

/* 선택자::before 
    특정 요소의 컨텐츠 앞에 새로운 요소를 삽입*/
.require::before {
    content: '*';
    color: red;
}

/* 선택자::after 
    특정 요소의 컨텐츠 뒤에 새로운 요소를 삽입*/
.require::after {
    content: '중요';
}
/* !!위 두개의 가상요소를 제일 많이 사용함!! */


